[submodule "src/os"]
	path = src/os
	url = https://github.com/LDG-Electronics/PIC18FXXK42-SDK-OS.git
[submodule "src/peripherals"]
	path = src/peripherals
	url = https://github.com/LDG-Electronics/PIC18FXXK42-SDK-PERIPHERALS
[submodule "src/libraries"]
	path = src/libraries
	url = https://github.com/LDG-Electronics/PIC18FXXK42-SDK-LIBRARIES
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/DaelonSuzuka/XC8-Toolchain.git
