# ignore output and build artifacts
build/**
obj/**
docs/**

# ignore stupid log file outputs from pk3cmd.exe
log.0
log.1
log.2
MPLABXLog.xml*

# ignore python virtual environment
.venv

# ignore python cache files
__pycache__
*.pyc
*.pyo

# vscode won't stop creating this file
debug.log

strings.gperf